body {
  font-size: 12px;
  line-height: 1.2;
  color: #333;
  background-color: #eaeaea;
}

.card {
  background-color: #fff;
}

.card .card__image {
  text-align: center;
  background-color: #f5f5f5;
}

.card .card__imageContent {
  width: auto;
  height: auto;
  max-width: 100%;
}

.card .card__description {
  padding: 8px;
}

.card .card__title {
  font-weight: bold;
}

.cardList .cardList__items {
  display: flex;
  flex-wrap: wrap;
  margin: -16px 0 0 -16px;
}

.cardList .cardList__item {
  width: 50%;
}

@media (min-width: 480px) {
  .cardList .cardList__item {
    width: 33.33%;
  }
}

.cardList .cardList__itemLink {
  display: block;
  margin: 16px 0 0 16px;
}

.articleList .articleList__items {
  padding-top: 1px;
  background-color: #fff;
}

.articleList .articleList__link {
  margin-top: -1px;
  display: block;
  padding: 16px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
}

.articleList .articleList__link.articleList__link--disabled {
  background-color: #ccc;
  color: #fff;
}

.articleList .articleList__link.articleList__link--disabled .artcileList__description {
  color: inherit;
}

.articleList .articleList__name {
  font-size: 14px;
  font-weight: bold;
}

.articleList .artcileList__description {
  margin-top: 5px;
  color: #808080;
}

.articleList .articleList__more {
  display: block;
  line-height: 40px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.page {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 960px;
}

.page .page__item {
  padding: 0 16px;
}

.page .page__item + .page__item {
  margin-top: 24px;
}
